---
keystone_api_url: http://controller:5000
memcached_servers_url: controller:11211
database_user: root
database_pass: overrideme
database_host: "{{ ansible_facts[management_interface]['ipv4']['address'] }}"
database_dir: /var/lib/mysql
database_socket: "{{ _database_socket[ansible_os_family] }}"
_database_socket:
  Debian: /var/run/mysqld/mysqld.sock
  RedHat: /var/lib/mysql/mysql.sock
glance_user: glance
glance_pass: password123
glance_group: glance
glance_database: glance
glance_database_user: glance
glance_database_pass: GLANCE_DBPASS
glance_database_privs: '*.*:ALL'
glance_database_provider: fernet
glance_packages:
- openstack-glance
- httpd
- python3-mod_wsgi

keystone_auth_url: 'http://controller:5000/v3'
keystone_admin_pass: ADMIN_PASS
keystone_admin_user: admin
keystone_admin_project_name: admin
keystone_admin_user_domain_name: Default
keystone_admin_project_domain_name: Default
keystone_region: RegionOne
keystone_identity_api_version: 3
keystone_image_api_version: 2

terraform_dir: /opt/terraform
terraform_user: "{{ ansible_user }}"
terraform_group: "{{ ansible_user }}"
