[nova]
auth_url = {{ keystone_api_url }}
auth_type = {{ keystone_auth_type }}
project_domain_name = {{ default_project_domain_name }}
user_domain_name = {{ default_user_domain_name }}
region_name = {{ default_region }}
project_name = {{ keystone_project_name }}
username = {{ nova_user }}
password = {{ nova_pass }}
