---
controller_hostname: "{{ groups['controller'][0] }}"
database_user: root
database_pass: overrideme
database_host: "{{ hostvars[groups['controller'][0]]['ansible_facts'][management_interface]['ipv4']['address'] }}"
database_dir: /var/lib/mysql
database_socket: "{{ _database_socket[ansible_os_family] }}"
_database_socket:
  Debian: /var/run/mysqld/mysqld.sock
  RedHat: /var/lib/mysql/mysql.sock
keystone_user: keystone
keystone_group: keystone
keystone_database: keystone
keystone_database_user: keystone
keystone_database_pass: KEYSTONE_DBPASS
keystone_database_privs: '*.*:ALL'
keystone_database_provider: fernet
keystone_packages:
- openstack-keystone
- httpd
- python3-mod_wsgi

keystone_init_project: default
keystone_init_project_desc: "Service Project"
keystone_init_domain: example
keystone_init_domain_desc: "Example Demo"

keystone_auth_url: "http://{{ controller_hostname }}:5000/v3"
admin_pass: ADMIN_PASS
admin_user: admin
admin_project_name: admin
default_user_domain_name: Default
default_project_domain_name: Default
keystone_region: RegionOne
keystone_identity_api_version: 3
keystone_image_api_version: 2

terraform_dir: /opt/terraform
terraform_user: "{{ ansible_user }}"
terraform_group: "{{ ansible_user }}"

demo_project_name: myproject
demo_project_desc: "Demo Project"
demo_project_domain: default
demo_project_user: myuser
demo_project_role: myrole

glance_user: glance
glance_pass: password123
glance_service: glance
glance_service_desc: "OpenStack Image"
glance_service_type: image
glance_endpoint_url: "{{ controller_hostname }}:9292"

placement_user: placement
placement_pass: password123
placement_service: placement
placement_service_desc: "OpenStack Placement"
placement_service_type: placement
placement_endpoint_url: "{{ controller_hostname }}:8778"

keystone_endpoint_interfaces:
- public
- internal
- admin
