#resource "openstack_images_image_v2" "cirros" {
#  name             = "cirros"
#  image_source_url = "http://download.cirros-cloud.net/0.4.0/cirros-0.4.0-x86_64-disk.img"
#  container_format = "bare"
#  disk_format      = "qcow2"
#  visibility       = "public"
#  depends_on = [
#    openstack_identity_service_v3.{{ glance_service }},
#  ]
#}
