data "openstack_identity_project_v3" "{{ keystone_init_project }}" {
  is_domain = true
  name = "{{ keystone_init_project }}"
}

resource "openstack_identity_project_v3" "{{ keystone_init_domain }}" {
  is_domain = true
  name = "{{ keystone_init_domain }}"
  description = "{{ keystone_init_domain_desc }}"
}

resource "openstack_identity_project_v3" "{{ keystone_init_project }}" {
  name        = "{{ keystone_init_project }}"
  description = "{{ keystone_init_project_desc }}"
}

resource "openstack_identity_project_v3" "{{ demo_project_name }}" {
  name        = "{{ demo_project_name }}"
  description = "{{ demo_project_desc }}"
  domain_id   = data.openstack_identity_project_v3.{{ keystone_init_project }}.id
}

resource "openstack_identity_project_v3" "service" {
  name        = "service"
  description = "service project"
}
