resource "openstack_identity_service_v3" "{{ glance_service }}" {
  name = "{{ glance_service }}"
  description = "{{ glance_service_desc }}"
  type = "{{ glance_service_type }}"
  region = "{{ default_region }}"
}

resource "openstack_identity_service_v3" "{{ placement_service }}" {
  name = "{{ placement_service }}"
  description = "{{ placement_service_desc }}"
  type = "{{ placement_service_type }}"
  region = "{{ default_region }}"
}

resource "openstack_identity_service_v3" "{{ nova_service }}" {
  name = "{{ nova_service }}"
  description = "{{ nova_service_desc }}"
  type = "{{ nova_service_type }}"
  region = "{{ default_region }}"
}
