[database]
connection = mysql+pymysql://{{ keystone_database_user }}:{{ keystone_database_pass }}@{{ controller_hostname }}/{{ keystone_database }}
[token]
provider = {{ keystone_database_provider }}
